
/*----------------------------------header-----------------------------*/

body {
	font-family: serif;
}


header {
	color: black;
	font-size: 18px;
	padding: 5px 0;
	display: flex;
	height: 60px;
	margin-top: -70px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.header-icon {
	margin-top: 8px;
}




header .icon {
	margin-left: 90px;
	padding-top: 20px;
	color: black;
	font-size: 30px;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.menu {
	display: block;
	overflow: hidden;
	width: 60px;
	height: 60px;
	margin: 30px auto;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	border: 3px solid transparent;
	border-radius: 50%;
	background-color: red;
}
.menu div.menubar {
	width: 30px;
	margin: 17px auto;
}
.menu div.menubar .bar {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 3px;
	border-radius: 2px;
	background-color: #ffffff;
}
.menu ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
	opacity: 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	display: inline-block;
	padding: 0.7em 0.5em;
	-webkit-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	text-decoration: none;
	color: red;
	border-bottom: 4px solid transparent;
	height: 56px;
	line-height: 2em;
}
.menu ul li a:hover {
	color: white;
	background-color: red;
}
.menu ul li a:target {
	border-bottom-color: red;
}
/* クリックした時の動き */
#cp_navimenuid {
	display: none;
}
#cp_navimenuid:checked ~ .menu {
	width: 100%;
	height: 60px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: transparent;
}
#cp_navimenuid:checked ~ .menu > ul {
	display: block;
	opacity: 1;
}
#cp_navimenuid:checked ~ .menu > .menubar {
	display: none;
}




.name strong {
	color: black;
	align-items: center;
}



.header-right {
	display: flex;
	align-items: center;
	margin-right: 80px;
	color: red;
	padding-top: 7px;
}


.header-right li:first-child {
	margin-right: 20px;
}

/*--------------------------headerここまで-----------------------------------*/
/*-------------------------main ここから----------------------------------*/



.input-field {
	margin-left: 220px;
	margin-bottom: 10px;
	width: 600px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}

.otoiawase {
	display: flex;
	justify-content: center;
	margin-left: 500px;
	margin-bottom: 500px;
}

.fixed {
	position: fixed;
	width: 100%;
}


#margin-for-fixed {
	margin-top: 70px;
}

.welcome {
	background-image: url(https://www.jalan.net/jalan/img/9/kuchikomi/1139/KL/b9759_0001139080_1.jpg);
	height: 800px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title{
	font-size: 70px;
	font-family: serif;
	padding-bottom: 80px;
}


.guideline {
	margin-top: 0px;
	font-size: 28px;
	font-weight: bold;
	color: black;
	background-color: 
}


.guideline li {
	margin-top: 16px;
}


.btn-group {
	margin-top: 60px;
}


.btn {
	width: 170px;
	height: 55px;
	color: #fff;
	font-weight: bold;
	font-size: 28px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 120p
}



.btn:last-child {
	margin-left: 100px;
}

.register {
	background-color: rgba(255,0,0,.4);
	border: 3px solid rgba(255,0,0,.2);
}

.register:hover {
	background-color: red;
}

.login {
	background-color: rgba(236,227,35,.6);
	border: 3px solid rgba(236,227,35,.2);
}

.login:hover {
	background-color: rgba(236,227,35);
}


/*--------------curriculum------------------------*/




.curriculum {
	margin-top: 50px;
}

.sub-title {
	font-size: 36px;
	text-align: center;
}


.img-box {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	margin-left: 45px;
}





.img-box li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 60px;
	justify-content: space-around;
}


.audio {
	padding-right: 100px;
}



.audio {
	color: red;
}


.video {
	color: red;
}


.audio span {
	color: black;
}



.video span {
	color: black;
}




/*---------curriculumここまで-----------*/



/*--------contact-----------------*/






.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #ebf4f5;
	margin-top: 50px;
	height: 350px;
}




.form {
	display: flex;
	justify-content: center;
}



.form .name,.form .email {
	height: 50px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}




.form .name {
	margin-bottom: 20px;
}



.form-left {
	margin-right: 50px;
}






.inquiry {
	height: 120px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}


.contact .form {
	margin: 50px 0 40px;
}



.contact button {
	background-color: #1dace0;
	color: #fff;
	border: 3px solid #1dace0;
	border-radius: 5px;
	font-size: 24px;
	padding: 15px 30px;
	box-sizing: border-box;
}






/*----contact ここまで------*/




/*-------footer-------------*/




footer {
	background-color: #233f51;
	color: #fff;
	font-size: 18px;
	padding: 5px;
	display: flex;
}



.copyright {
	display: flex;
	align-items: center;
}








/*-------- footer終わり ----------------------------------------*/






/*----------------レシポンシブデザイン-----------------------*/


/*小型PC用*/
@media screen and (max-width: 1280px) {

.img-box li {
	margin-right: 30px;
}


}

/*タブレット*/
@media screen and (max-width: 960px) {

.welcome background-image {
	width: 400px;
}


.contact {
	height: 500px;
}


main .img-box {
	display: flex;
	flex-wrap: wrap;
}


main li:last-child {
	margin-top: 20px;
}



.contact .form {
	flex-flow: column;
}

.contact .form-left {
	margin-right: 0;
}


.contact .form-right {
	margin-top: 20px;
}

.contact .form-left:first-child {
	margin-top: 0;
}


form .sub-title {
	padding-bottom: 20px;
}

}



.contact button {
	background-color: #1dace0;
	color: #fff;
	border: 3px solid #1dace0;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px 40px;
	box-sizing: border-box;


}

/*スマフォ*/
@media screen and (max-width: 480px){

		body {
		min-width: 375px;
	}

/*header*/


.welcome {
	height: 500px;
}

header .icon {
	margin-left: 20px;
}

.icon {
	margin-left: 20px;
}

.icon .name {
	font-size: 20px;
	padding-bottom: 5px;
}

.header-right {
	display: none;
}

/*welcome*/


.guideline li {
	font-size: 15px;
}





.title {
	font-size: 30px;
	padding-bottom: 50px;
}

.guideline {
	padding-top: -300px;
	font-size: 24px;
	font-weight: normal;
}

.btn-group {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-top: 40px;
}

.btn {
	height: 48px;
	width: 140px;
	font-size: 24px;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 10px;
}

.btn:last-child {
	margin-left: 0;
}

.btn:first-child {
	margin-top: 0;
}

/*curriculum*/
.img-box {
	flex-flow: column nowrap;
}

.img-box li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 0;
	margin-top: 30px;
}


.img-box li:first-child {
	margin-top: 0;
}



.img-box .audio {
	padding-left: 60px;
}



.img-box .video {
	padding-right: 39px;
}



.img-box li span {
	margin-top: 20px;
	font-size: 16px;
}


/*contact*/
.contact .form {
	flex-flow: column nowrap;
	margin: 30px 0;
}


.form .name, .form .email, .form .inquiry {
	width: 80%;
}



.form .name, .form .email, {
	height: 30px;
}



.form .inquiry {
	height: 50px;
}



.form-left {
	margin-right: 0px;
}






.form-right {
	margin-top: 20px;
}



.contact button {
	font-size: 20px;
	padding: 8px 40px;
	margin-top: 10px;
}



/*footer*/
footer {
	display: flex;
	justify-content: center;
}


footer .icon {
	display: none;
}


footer .footer-right {
	margin-right: 0;
}





}





